*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
a{
	    text-decoration: none;
}
.page-header{
	width: 100%;
	background-color: #3a3b44;
	position: fixed;
	z-index: 999;
}
.navigation-container{
    width: 1080px;
    display: flex;
    margin: 0 auto;
    height: 75px;
    justify-content: space-around;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-nav-list{
	font-size: 15px;
}
.nav-item{
		color: #FFFFFFFF;
		margin-left: 40px;
}
.header-right{
	display: flex;
	align-items: center;
}
.header-but-entry{
	display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 34px;
    color: #58a673;
    border: 1px solid #58a673;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
}
.header-but-hire{
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 34px;
    color: #58a673;
    border: 1px solid #58a673;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
}
.header-but-primary{
    display: inline-block;
    height: 36px;
	background: #58a673;
    color: #fff;
    border: 1px solid #58a673;
    font-size: 14px;
    text-align: center;
    width: 70px;
    border-radius: 2px;
    line-height: 34px;
    margin-left: 20px;
}
.background-section{
	height: 500px;
	background-image: url(../image/gridbg.png);
	padding-top: 120px;
	text-align: center;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
.platform-img{width: 1000px;}
.platform-sub-title{
	margin-bottom: 25px;
	font-size: 18px;
    color: #b1b1b5;
    line-height: 20px;
}
.platform-title{
	margin-bottom: 30px;
	font-size: 32px;
    color: #fff;
}
.platform-explain{
	margin-bottom: 45px;
	line-height: 30px;
    font-size: 15px;
    color: #58a673;
}
.platform-cooperative-partner span{
	background: #3a3b44;
    padding: 0 15px;
}
.platform-cooperative-partner{
	line-height: 20px;
    color: #b1b1b5;
    margin-bottom: 20px;
    background: url(../image/line1000.png) no-repeat;
    background-position: 0 10px;
}
.resources-section{
    height: 450px;
    text-align: center;
    padding: 70px 0;
}
.resources-list{
    height: 170px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.resources-img{
    width: 200px;
    height: 110px;
}
.resources-item{
    width: 260px;
    height: 170px;
}
.resources-title{
    font-size:32px;
    font-family:PingFangSC-Medium;
   font-weight:500;
   color:rgba(63,70,75,1);
   line-height:22px;
}
.resources-sub-title{
    font-size: 18px;
    color: #999;
    margin-top: 30px;
    line-height: 20px;
}
.resources-name{
    font-size: 18px;
    color: #3f464b;
    line-height: 20px;
    margin-bottom: 15px;
}
.resources-price{
   font-size: 14px;
    color: #999;
}
.invite-section{
    padding: 70px 0;
    background: #3d3e48;
    text-align: center;
    height: 890px;
}
.invite-title{
    color: #fff;
    font-size: 32px;
    line-height: 40px;
}
.invite-sub-title{
    color: #b1b1b5;
    font-size: 18px;
    margin-top: 20px;
    line-height: 20px;
}
.invite-list{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    position: relative;
}
.invite-item-img{
    width: 313px;
}
.invite-item{
    width: 313px;
    height: 560px;
    border-radius: 2px;
    background: #fff;
    text-align: center;
    overflow: hidden;
}
.invite-item:hover .invite-btn-area{
    transform: translateY(-100%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.invite-explain-container{
    text-align: left;
    padding: 20px 20px 0;
}
.invite-name{
    line-height: 30px;
    font-size: 16px;
    color: #3f464b;
}
.invite-grade{
    line-height: 20px;
    font-size: 12px;
    color: #999;
}
.invite-experience{
   width:256px;
   height:78px;
   font-size:12px;
   font-family:PingFangSC-Regular;
   font-weight:400;
   color:rgba(63,70,75,1);
   line-height:20px;
   text-align: justify;
    margin: 10px 0;
}
.invite-past-title{
    font-size: 12px;
    color: #808080a9;
}
.invite-past-img{
    margin-top: 10px;
    text-align: center;
}
.invite-btn-area{
    margin-top: 68px;
    height: 50px;
    line-height: 50px;
    background: #62bd82;
    font-size: 16px;
    color: aliceblue;
  }  
.invite-btn-area a{
    color: #fff;
}
.invite-right-arrow{
    position: absolute;
    right: -60px;
    top: 50%;
}
.invite-left-arrow{
    position: absolute;
    left: -60px;
    top: 50%;
}
.invite-line span{
 width:120px;
 height:3px;
 background-color:rgba(98,189,130,1);
 display: inline-block;
}
.invite-line{
    margin-top: 5px;
  background: url(../image/line1000.png) no-repeat;
  background-position: 0 15px;
}
.invite-classification{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #757575;
    margin-top: 35px;
}
.service-section{
    text-align: center;
    height: 1250px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.service-title{
    font-size: 32px;
    color: #3f464b;
    line-height: 40px;
}
.service-sub-title{
    font-size: 18px;
    color: #999;
    margin-top: 20px;
    line-height: 20px;
}
.service-list{
    margin-top: 77px;
}
.service-item{
    width: 1000px;
    display: flex;
    height: 204px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 60px;
}
.service-left{
    position: relative;
}
.service-left-number{
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    border-radius: 50%;
    background: #62bd82;
    color: #fff;
    font-size: 32px;
    box-shadow: 0 5px 5px #deede3;
    margin:0;
}
.service-left-img{
     position: absolute;
     left: 15px;
     top:  64px;
}

.service-middle{
    width: 400px;
    margin-right: 150px;
    text-align: left;
}
.service-lawsuit{
    font-size: 28px;
    color: #404c5f;
    line-height: 60px;
}
.service-experience{
    font-size: 16px;
    color: #3f464b;
    line-height: 30px;
    text-align: justify;
}
.feature-section{
    padding: 70px 0 80px;
    background-image: linear-gradient(180deg,#35374b,#767882);
    text-align: center;
    height: 800px;
}
.feature-list{
    margin-top: 52px;
    background: #f2f4f6;
    border-radius: 2px;
    font-size: 0;
}
.feature-title{
    font-size: 32px;
    color: #fff;
    line-height: 40px;
}
.feature-sub-title{
    font-size: 18px;
    color: #999;
    margin-top: 20px;
    line-height: 20px;
    color: #b1b1b5;
}
.feature-list li{
    display: inline-block;
    font-size: 15px;
    height: 74px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    line-height: 72px;
    vertical-align: middle;
    width: 250px;
    text-align: center;
    color: #667080;
}
.feature-item-number{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 23px;
    border-radius: 50%;
    border: 1px solid #c2cde0;
    font-size: 13px;
    margin-right: 10px;
    background: #fff;
}
.feature-list .feature-item-deep{
    color: #3f464b;
    background-color: #c1cce2;
}

.feature-item-in{
  background-color: #dde3f0;
}
.feature-list .feature-item-default{
    color: #305798;
}
.feature-item-shallow{
  background-color: #dae0e8;
}
.feature-item-light{
      background-color: #eef2f9;
}
.effect-section{
    height: 600px;
    text-align: center;
    padding: 70px 0;
}
.effect-list{
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.effect-img{
    width: 205px;
    height: 185px;
}
.effect-item{
    width: 260px;
    height: 190px;
}
.effect-title{
    font-size:32px;
    font-family:PingFangSC-Medium;
   font-weight:500;
   color:rgba(63,70,75,1);
   line-height:22px;
}
.effect-sub-title{
    font-size: 18px;
    color: #999;
    margin-top: 30px;
    line-height: 20px;
}
.effect-price{
    font-size: 18px;
    color: #3f464b;
    line-height: 20px;
    margin-top: 7px;
}
.story-section{
    height: 650px;
    text-align: center;
    padding-top: 70px;
    background: #3d3f52;
}
.story-title{
    font-size: 32px;
    color: #fff;
    line-height: 40px;
}
.story-sub-title{
     font-size: 18px;
     color: #b1b1b5;
     margin-top: 30px;
     line-height: 20px;
}
.story-list{
    height: 410px;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.story-item-img{
    width: 314px;
    height: 200px;
}
.story-price{
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    margin-top: 36px;
    color: #fff;
}
.story-item-logo{
    margin-top: 80px;
}
.website-section{
    height: 500PX;
    background:rgba(246,248,250,1);
}
.website-list{
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}
.website-item-img{
    width: 120px;
    height: 90px;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid rgba(228, 228, 228, 1);
}
.website-item{
    width: 313px;
    height: 300px;
    text-align: center;
    background:rgba(228,228,228,0);
    border:1px solid rgba(228, 228, 228, 1);
    border-radius:4px;
}
.website-item-life{
  display: inline-block;
  width: 260px;
  font-size:16px;
  font-weight:400;
  color: #536a75;
  line-height:28px;
  font-family:PingFangSC-Regular;
  margin-top: 20px;
}
.website-item-address{
    font-size: 14px;
    font-weight: 400;
    color: #91989af7;
     margin-top: 20px;
}
.page-footer{
    height: 320px;
    border-top: 1px solid #aeaeb8;
    padding-top: 66px;
    background: #1d1a33}
.footer-list{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.footer-item-about{
    width: 230px;
}
.footer-item-navigation{
        width: 160px;
}
.footer-item-contact{
    width: 230px;
}
dt{
    font-size: 15px;
    color: #fff;
    height: 50px;
    line-height: 20px;
}
dd{
    font-size: 14px;
    line-height: 28px;
    color: #8a8b91;
}
.footer-item-navigation a{
  font-size: 14px;
    line-height: 28px;
    color: #8a8b91;
}
.item-special{
    width: 19px;
    height: 3px;
    background-color: #292644;
    position: absolute;
    top: 33px;
}
.footer-bottom{
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    border-top: 1px solid hsla(0,0%,100%,.1);
    height: 33px;
}
.footer-bottom-text{
    color: #fff;
    line-height: 32px;
}
.footer-bottom-img{
    vertical-align: middle;
}